@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 30px;
    height: 30px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48,
        'font-size' 10px;
    margin-top: 18%;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.header-conteudo {
    display: flex;
    width: 100%;
    height: 47px;
    justify-content: flex-end;
    align-items: center;
}

.header-conteudo li {
    margin-left: 2%;
}

.icones-header {
    margin-left: 2%;
}

button {
    all: unset;
    cursor: pointer;
}

.conteudo-historia {
    width: 100%;
}

/* INFANCIA E JUVENTUDE */

.infancia-juventude {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
}

.titulo-inf-juv {
    width: fit-content;
    font-weight: bold;
}

.inf-juv-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inf-juv-esq {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inf-juv-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inf-juv-foto img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.texto-era-barcelona{
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
}

/* INICIO NO BARCELONA */

.inicio-barcelona {
    display: flex;
    flex-direction: column;
    background-color: #DB0030;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.inicio-barca-titulo {
    width: fit-content;
    font-weight: bold;
    padding-right: 17%;
}

.inicio-barca-conteudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.inicio-barca-dir {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inicio-barca-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inicio-barca-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

/* INICIO COMO PROFISSIONAL */

.inicio-barca-prof {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #1D4E89;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
}

.inicio-barca-prof-titulo {
    width: fit-content;
    font-weight: bold;
}

.inicio-barca-prof-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inicio-barca-prof-esq {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inicio-barca-prof-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inicio-barca-prof-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

/* DESPERTAR DO GÊNIO */

.despertar {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #E6AF2E;
    padding: 3% 6%;
    border-radius: 10px;
    color: black;
    align-items: center;
}

.despertar-titulo {
    width: fit-content;
    font-weight: bold;
    padding-right: 17%;
}

.despertar-conteudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.despertar-dir {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.despertar-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.despertar-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

/* AUGE ESTATÍSTICO */

.auge-estatistico {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #03192D;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
}

.auge-estatistico-titulo {
    width: fit-content;
    font-weight: bold;
}

.auge-estatistico-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.auge-estatistico-esq {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.auge-estatistico-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.auge-estatistico-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

/* TRIO MSN */

.trio-msn {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #880C0A;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.trio-msn-titulo {
    width: fit-content;
    font-weight: bold;
    padding-right: 17%;
}

.trio-msn-conteudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.trio-msn-dir {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.trio-msn-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.trio-msn-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

/* MESSIDEPENDENCIA */

.messidependencia {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #03192D;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
}

.messidependencia-titulo {
    width: fit-content;
    font-weight: bold;
    font-style: italic;
}

.messidependencia-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.messidependencia-esq {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.messidependencia-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.messidependencia-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

/* DESPEDIDA DO BARCELONA */

.despedida {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.despedida-titulo {
    width: fit-content;
    font-weight: bold;
    padding-right: 17%;
}

.despedida-conteudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.despedida-dir {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.despedida-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.despedida-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

.texto-PSG{
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
}

/* CHEGADA AO PSG */

.chegada-psg {
    display: flex;
    flex-direction: column;
    background-color: #13203F;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.chegada-psg-titulo {
    width: fit-content;
    font-weight: bold;
    padding-right: 17%;
}

.chegada-psg-conteudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.chegada-psg-dir {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.chegada-psg-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.chegada-psg-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

.texto-selecao-argentina{
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
}

/* INICIO NA SELECAO */

.inicio-selecao {
    display: flex;
    flex-direction: column;
    background-color: #2B4570;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.inicio-selecao-titulo {
    width: fit-content;
    font-weight: bold;
    padding-right: 17%;
}

.inicio-selecao-conteudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.inicio-selecao-dir {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inicio-selecao-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inicio-selecao-foto img {
    width: 198px;
    height: 270px;
    border-radius: 10px;
}

/* CONSOLIDACAO NA SELECAO */

.consolidacao-selecao {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #03192D;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
}

.consolidacao-selecao-titulo {
    width: fit-content;
    font-weight: bold;
}

.consolidacao-selecao-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.consolidacao-selecao-esq {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.consolidacao-selecao-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.consolidacao-selecao-foto img {
    width: 198px;
    height: 100%;
    border-radius: 10px;
}

/* APOSENTADORIA? */

.aposentadoria {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #5B5F8D;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.aposentadoria-titulo {
    width: fit-content;
    font-weight: bold;
    padding-right: 17%;
}

.aposentadoria-conteudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.aposentadoria-dir {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.aposentadoria-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.aposentadoria-foto img {
    width: 198px;
    height: 270px;
    border-radius: 10px;
}

/* INICIO DA FASE DE OURO */

.inicio-fase-ouro {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #03192D;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
}

.inicio-fase-ouro-titulo {
    width: fit-content;
    font-weight: bold;
}

.inicio-fase-ouro-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inicio-fase-ouro-esq {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inicio-fase-ouro-meio {
    width: 33%;
    font-size: 12px;
    margin-top: 2%;
}

.inicio-fase-ouro-foto img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

#messi_finalissima {
    position: relative;
    z-index: 2;
    left: -20%;
    top: 30%;
}

/* SUPREMACIA FUTEBOLISTICA */

.supremacia {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #EACB96;
    padding: 3% 6%;
    border-radius: 10px;
    color: black;
    align-items: center;
}

.supremacia-titulo {
    font-size: 30px;
    font-weight: bold;
}

.supremacia-subtitulo {
    width: 67%;
    display: flex;
    text-align: left;
    font-size: 13px;
}

.supremacia-subtitulo-texto {
    width: 50%;
}

/* PRIMEIRO BLOCO - SUPREMACIA */
.supremacia-primeiro-bloco{
    margin-top: 3%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.supremacia-texto-primeiro-bloco {
    padding: 1% 1% 1% 1.5%;
    font-size: 13px;
}

.supremacia-foto-primeiro-bloco {
    width: 337px;
}

.supremacia-foto-primeiro-bloco img {
    width: 337px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

/* SEGUNDO BLOCO - SUPREMACIA */

.supremacia-segundo-bloco{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.supremacia-texto-segundo-bloco {
    padding: 1% 1.5% 0 1%;
    font-size: 13px;
}

.supremacia-foto-segundo-bloco {
    width: 337px;
}

.supremacia-foto-segundo-bloco img {
    width: 337px;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

/* TERCEIRO BLOCO - SUPREMACIA */

.supremacia-terceiro-bloco{
    margin-top: 3%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.supremacia-texto-terceiro-bloco {
    display: flex;
    flex-direction: column;
    padding: 1% 1% 1% 1.5%;
    font-size: 13px;
}

.supremacia-foto-terceiro-bloco {
    width: 337px;
}

.supremacia-foto-terceiro-bloco img {
    width: 337px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.supremacia-texto2-terceiro-bloco {
    text-align: right;
    margin-right: 2%;
    font-size: 14px;
    font-weight: 600;
}

/* BLOCO AD SOBRE MIM */

.ad-sobre-mim {
    margin-top: 5%;
    display: flex;
    width: 100%;
    background-color: #DB0030;
    justify-content: center;
    align-items: center;
}

.messi-beijo-chuteira2009 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 40%;
}

.messi-beijo-chuteira2009 img {
    height: 350px;
}

.bloco-sobre-mim {
    width: 80%;
    position: relative;
    background-color: #A50044;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    right: 50%;
    padding: 1%;
    border-radius: 10px;
}

.bloco-sobre-mim-titulo {
    color: #FFED02;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.bloco-sobre-mim-texto {
    margin-top: 2%;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.bloco-sobre-mim-botao{
    margin-top: 5%;
    text-align: center;
    color: white;
}

.bloco-sobre-mim-botao button {
    background-color: #DB0030;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 15px;
    transition: background-color 0.3s cubic-bezier(0.42, 0, 0.58, 1), color 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.bloco-sobre-mim-botao button:hover {
    background-color: #FFED02;
    color: #000000;
  }

/* FOOTER */

.footer {
    font-size: 11px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

