@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    font-family: Poppins;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
  }
  
  .fade::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5), rgba(6, 17, 45,.75), rgba(6, 17, 45, 0.9));
  }
  
  .fade img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .conteudo-cadastro {
    display: flex;
    justify-content: flex-end;
  }
.cadastro {
    width: 31.5%;
    display: flex;
    flex-direction: column;
    margin-top: 16%;
    margin-right: 8%;
}

.criar_conta{
    font-size: 30px;
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
    padding-bottom: 5%;
}

.tem_cadastro {
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding-bottom: 2%;
}

#faca_login a {
  text-decoration: none;
  color: #436C9D;
    font-weight: 600;
}

.inputs input {
    background-color: #2b4570d4;
    border: 0;
    border-radius: 17.5px;
    height: 50px;
    margin-bottom: 5%;
    width: 188px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-left: 3%;
}

.nome_sobrenome {
    display: flex;
    justify-content: space-between;
}

.email_senha {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email_senha input {
    width: 96.5%;
}

.nome_sobrenome input::placeholder {
    color: black;
    font-size: 10px;
    position: relative;
    bottom: 28%;
    left: 1%;
    font-weight: 700;
  }

.email_senha input::placeholder {
    color: black;
    font-size: 10px;
    position: relative;
    bottom: 28%;
    left: 1%;
    font-weight: 700;
  }

  .cadastro input:hover {
    background-color: #2b4570;
    border: solid .5px #ffffff88;
  }

.botao {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao button {
    width: 50%;
    height: 50px;
    border-radius: 17.5px;
    border: white solid 1px;
    background-color: #00bfff90;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
}

.botao button:hover {
    font-size: 16px;
    background-color: #03192D;
}

  
  

  