@import url('https://fonts.cdnfonts.com/css/poppins');

@keyframes clarear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

* {
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 30px;
    height: 30px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48,
        'font-size' 10px;
    margin-top: 18%;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.header-conteudo {
    display: flex;
    width: 100%;
    height: 47px;
    justify-content: flex-end;
    align-items: center;
}

.header-conteudo li {
    margin-left: 2%;
}

.icones-header {
    margin-left: 2%;
}

button {
    all: unset;
    cursor: pointer;
}
/* CONTÉUDO */

.body_graficos {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#08335a, white);
    justify-content: center;
}

.setinha-voltar {
    margin-top: 2%;
    font-size: 30px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.graficos {
    margin: 10% 0 5% 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.imagem_lateral {
    width: 30%;
}

.imagem_lateral img {
    width: 100%;
    height: 460px;
    border-radius: 10px 0 0 10px;
}

.conteudo_graficos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blocos_titulos {
    background-color: #03192D;
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    font-size: 14px;
    border-radius: 0 10px 0 0 ;
    cursor: pointer;
}

.titulos img {
    width: 25px;
    height: 25px;
}

.titulos {
    width: 20%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1% 2% 0;
}

.icons_titulos {
    text-align: center;
    padding-top: 2%;
}

#gols_pela_selecao {
    padding-top: 17.5%;
}

.graficos_canvas {
    height: 80.5%;
    background-color: white;
    border-radius: 0 0 10px 0;
}

.graficos_canvas canvas {
    animation: clarear 1s;
}

@media (min-width: 1365px){
    .graficos_canvas {
        height: 80.5%;
    }   
}

/* footer */

.footer {
    font-size: 11px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}